.resume-card{
    background:var(--card-color);
    border:1px solid var(--border-color);
    border-radius:18px;
    padding:22px;
    transition:.3s;
}

.resume-card:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.resume-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.resume-top h3{
    margin:0;
    font-size:20px;
}

.status{
    display:inline-block;
    margin-top:10px;
    padding:4px 12px;
    border-radius:50px;
    font-size:13px;
    font-weight:600;
}

.status.draft{
    background:#FEF3C7;
    color:#92400E;
}

.status.completed{
    background:#DCFCE7;
    color:#166534;
}

.resume-info{
    margin:20px 0;
}

.resume-info p{
    margin:8px 0;
    color:var(--text-secondary);
}

.open-btn{
    width:100%;
    border:none;
    background:#2563EB;
    color:white;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
}

.open-btn:hover{
    opacity:.9;
}